@{
    ViewBag.Title = "About";
}
<h2>Online Personal Diary</h2>


<p style="font-size:24px;">Every educated person has a habit of writing their daily activity in a manual diary. The online personal diary is a web based application where the educated person can collect their daily activity easily. For using this diary the users must have an account providing their valid information. A valid user can three task in this application.
First of all write note, here a user can write his/her daily activity and save it that the user will see in future if he/she want. Also can edit, update, delete existed note. Second feature of this application is event reminder, every person has many events in a day. So, they can create an event reminder here that he/she will get a reminder notification through his/her phone number before the event time or user provided time. And the third feature is daily expense calculate, every person has a habit of collecting their daily expense. Here, the user can calculate their daily expense and collect it for seeing the end of month or year.</p>
