@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    Md. Jahurul Islam<br />
    Dhaka, Bangladesh<br />
    <abbr title="Phone">P:</abbr>
    01964655399
</address>

<address>
    <strong>Email:</strong>   <a href="jahurulislam.soft@gmail.com">jahurulislam.soft@gmail.com</a><br />
    <strong>Facebook:</strong> <a href="https://www.facebook.com/jahurulisha22">Jahurul Islam</a>
</address>