
body {
    margin: 0;
    padding: 0;
    background: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: sans-serif;
}

.box {
    width: 1000px;
    height: 550px;
    background: #E0FFFF;
    margin: auto;
    margin-top: 100px;
    box-sizing: border-box;
    margin-left: 80px;

    
}


.box h1 {
    margin: 0;
    padding: 6px;
    margin-left: 50px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

    .box h2 {
        margin-top:2px;
        color: black;
        font-size: 18px;
        font-family: 'Times New Roman', Times, serif;
    }

.box input {
    width: 500px;
    margin-bottom:5px;
    margin-left: 0;
    
}

  .box input[type="submit"] {
        border: none;
        outline: none;
        height: 40px;
        background: #20B2AA;
        color: #fff;
        font-size: 18px;
        border-radius: 20px;
        margin-left: 170px;
        
    }

    .box input[type="button"] {
        border: none;
        outline: none;
        height: 40px;
        background: #fb2525;
        color: #fff;
        font-size: 18px;
        border-radius: 20px;
        
     
    }

    .box input[type="submit"]:hover {
        cursor: pointer;
        background: #ffc109;
        color: #000;
    }

    .box input[type="button"]:hover {
        cursor: pointer;
        background: #ffc109;
        color: #000;
    }


a:hover {
    cursor: pointer;
    background: #ffc109;
    color: #000;

}
    .aa:hover {
        cursor: pointer;
        background: none;
    }


