<link href="~/Content/UserIndex.css" rel="stylesheet" />

@{
    ViewBag.Title = "MyDiary-UserHome";
}



   

<div class="box">
    <div class="navber-header">
        <h> "If today were the last day of your life, would you want to do what you are about to do today?"</h>
        <h1>-Steve Jobs</h1>
    </div>
        <div class="box1">

            <div class="container-fluid">
                <div class="row content">

                    <div class="col-sm-1 sidenavf">
                        <h> </h>
                    </div>

                    <div class="col-sm-3 sidenav1">
                        <div class="note">
                            <strong><a href="/Note/NoteWrite" style="color:#996600;margin-left:20px;font-size:26px;font-style: italic;font-family:Times New Roman;">NOTE BOOK</a></strong>
                            
                        </div>
                    </div>

                    <div class="col-sm-1 sidenav0">
                        <h> </h>
                    </div>

                    <div class="col-sm-3 sidenav2">
                        <div class="event">
                            <strong><a href="/Event/CreateEvent" style="color:white;margin-left:60px;font-size:26px;font-style: italic;font-family:Times New Roman;">EVENT</a></strong>
                        </div>
                    </div>

                    <div class="col-sm-1 sidenav0">
                        <h> </h>
                    </div>

                    <div class="col-sm-3 sidenav3">
                        <div class="expense">
                            <strong><a href="/Expense/Expense" style="color:black;margin-left:40px;font-size:26px;font-style: italic;font-family:Times New Roman;">EXPENSE</a></strong>
                            
                        </div>
                    </div>

                </div>
            </div>
    </div>
</div>

